@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Environment: @Model.EnvironmentName</h3>
    <h3>ASPNETCORE_ENVIRONMENT: @Model.AspnetcoreEnvironment</h3>
    <h4>@Model.ConnectionString</h4>
    <hr/>
    <b>Feature flags:</b>
    <p>Feature flag #1: @Model.Feature1</p>
    <p>Feature flag #2: @Model.Feature2</p>
</div>