@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>
        <h3>Values from "Mssql_Secret.yaml" file</h3>
        <b>Connection string:</b> @Model.ConnectionString (it is base64 encoded in file)<br/>
        <b>Some secret value:</b> @Model.SomeSecretValue (it is in plain text in yaml file)<br />
    </p>
    <hr />
    <p>
        <h3>Values from "Deployment.yaml" file (pod configuration)</h3>
        <b>Environment:</b> @Model.EnvironmentName<br />
        <b>ASPNETCORE_ENVIRONMENT:</b> @Model.AspnetcoreEnvironment<br />
    </p>
    <hr/>
    <p>
        <h3>Values from "ConfigMap.yaml" file</h3>
        <b>Feature flag #1:</b> @Model.Feature1<br />
        <b>Feature flag #2:</b> @Model.Feature2<br />
    </p>
</div>